<%= form_with model: source, local: true do |form| %>
  <h1>
    <%= question_header(source) %>
  </h1>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, value: @question.body %><br>
  </p>
  <p><%= form.submit %></p>
<% end %>