<tr>
  <td>
    <%= badge.title %>
  </td>
  <td><%= badge.rule.title %></td>
  <td><%= badge.rule.params_type %></td>
  <td><%= badge.get_name_of_param %></td>
  <td><%= link_to 'Show', admin_badge_path(badge) %></td>
  <td><%= link_to 'Edit',
                  edit_admin_badge_path(badge) %></td>
  <td><%= link_to 'Delete',
                  admin_badge_path(badge),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
</tr>
