<p>Title  <%= @badge.title %></p>
<p>Icon  <%= link_to 'Icon', @badge.url_icon.html_safe, target: '_blank' %></p>
<p>Rule <%= @badge.rule.title %></p>
<p>Rule attribute <%= @badge.get_name_of_param %></p>

<p>
  <%= link_to 'Edit', edit_admin_badge_path(@badge) %>
</p>
<p>
  <%= link_to "Back", admin_badges_path %>
</p>
