<tr>
  <td>
    <%= badge.title %>
  </td>
  <td><%= badge.rule.title %></td>
  <td><%= badge.rule.params_type %></td>
  <td><%= badge.get_name_of_param %></td>
  <td><%= badge.user_have_badge?(current_user.id) %></td>
</tr>
