<!DOCTYPE html>
<html>
<head>
  <title>TestGuru</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% if user_signed_in? %>
  <%= render "layouts/navbar_for_logged_in" %>
<% else %>
  <%= render "layouts/navbar_for_not_logged_in" %>
<% end %>
<%= flash_messages %>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
